.container-dash{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dash-btns{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.dash-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cus-button{
    font-size: large;
    width: 350px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #20df7f;
}

.cus-button{
    cursor: pointer;
    background-color: #20df7f;
    font-size: large;
    width: 350px;
    padding: 15px;
    border: none;
    border-radius: 10px;
}

/* .bar{
    color: white;
} */