.container-dash{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* button{
    cursor: pointer;
    background-color: #20df7f
}

button{
    font-size: large;
    width: 350px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #224957;
} */

