.container-search{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    justify-content: space-evenly;
}

.search {
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-around;
}

#outlined-basic{
    color: white;
    background-color: white;
}
.recc{
    color: #20df7f;
}

.icon{
    width: 30%;
    height: 30%;
}