.container-search{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color: white;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    justify-content: space-evenly;
}

.search {
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-around;
}

#outlined-basic{
    color: black;
    background-color: white;
}
.recc{
    color: #20df7f;
}

.icon{
    width: 30%;
    height: 30%;
}

.cus-button{
    font-size: large;
    width: 350px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #224957;
}

.movies-list{
    color: white;
    margin-top: 40px;
}