h1{
    color: white !important;
}

.container-cus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.input, .cus-button{
    font-size: large;
    width: 350px;
    padding: 15px;
    border: none;
    border-radius: 10px;
}

.input{
    background-color: #224957;
    color: white;
}

.cus-button{
    background-color: #20df7f;
}

.forgot-pass{
    width: 350px;
    text-align: right;
    color: #20df7f;
    text-decoration: none;
}


.container-cus *{
    margin: 15px 0;
}

.register{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    color: #20df7f;
}

.register a {
    text-decoration: none;
    color: #1A73E8
}

.register-btn{
    padding: 10px;
    margin-left: 20px;
    width: 150px;
}